.main-wrapper {
  margin-left: 60px;
  height: 100%;
  width: 100%;
  .main-content {
    margin-top: 60px;
    height: calc(100% - 60px);
    width: 100%;
  }
}

.sidebar-wrapper {
  z-index: 100;
}
